@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
// Custom.scss
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";
// 2. Include any default variable overrides here
// 3. Include remainder of required Bootstrap stylesheets
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/utilities';

@import "./animations.scss";
@import "./variables.scss";
// 5. Add additional custom code here

:root {
  --dark-color: $dark-color;
  --background-color: $background-color;
  --medium-color: $medium-color;
  --light-color: $light-color;
  --main-color: $main-color;
  --light-main-color: $light-main-color;

  color-scheme: dark;
}

body {
  font-family: $text-font;
  color: $light-color;
  height: 100dvh;
  padding-top: $topbar-height;

  background: $background-color !important;
}

#menu-btn {
  all: unset;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-top: 1.5dvh;
  align-items: center;
  justify-content: center;
  position: relative;
  .title {
    user-select: none;
    margin: 0;
    animation: menuTitleAppear .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    pointer-events: none;
    transition: ease .2s;
    color: $medium-color;
  }

  .line {
    transition: ease .2s;
    height: 0.5rem;
    width: 100%;
    border-radius: 1rem;
    background-color: $medium-color;
    pointer-events: none;

    &:first-of-type {
      margin-bottom: 0.8dvw;
      left: 0;
      top: 0;
      transform-origin: top left;
      animation: menuLeftLineClose .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:last-of-type {
      margin-bottom: 0.2rem;
      transform-origin: top right;
      animation: menuRightLineClose .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }

  &:hover {
    .line {
      background-color: $light-color;
    }

    .title {
      color: $light-color;
    }
  }

  &.active {
    .line {
      background-color: red;
      position: absolute;
      top: 0;
      &:first-of-type {
        animation: menuLeftLineOpen .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: translate(20%) rotate(45deg);
      }

      &:last-of-type {

        animation: menuRightLineOpen .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: translate(-20%) rotate(-45deg);
      }
    }

    .title {
      animation: menuTitleVanish .5s cubic-bezier(0.075, 0.82, 0.165, 1);
      visibility: hidden;
    }
  }
}

#menu {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  height: 100dvh;
  width: 100dvw;
  background-color: $dark-color;
  animation: menuClose .5s cubic-bezier(0.075, 0.82, 0.165, 1);

  padding-top: $topbar-height;
  display: none;

  &.open {
    display: flex;
    animation: menuOpen .5s cubic-bezier(0.075, 0.82, 0.165, 1);

  }

  .menu-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }

  #menu-animation {
    padding: 0;
    width: 50%;
    height: 50%;
  }

  ul {
    list-style-type: none;

    .menu-Item {
      text-align: end;

      a {
        text-decoration: none;
        font-weight: 900;
        transition: ease .2s;

        &:hover,
        &.current {
          color: $main-color;
        }

        &.current:hover {
          color: $light-main-color;
        }
      }
    }
  }
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    &:first-of-type {
      font-size: 4dvh;
      font-weight: 500;
    }

    &:last-of-type {
      font-size: 3dvh;
      font-weight: 200;
    }
  }

  .main-text {
    font-weight: 900;
    font-size: 8dvh;
    text-align: center;
    b {
      color: $main-color;
    }
  }
}

#quote {
  margin-top: 5dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .quote-wrapper {
    max-width: 80%;
  }

  span {
    color: $light-color;

    display: flex;
    align-items: center;
    justify-content: end;

    &:first-of-type {
      font-size: 6dvh;
      text-align: center;
    }

    &:last-of-type {
      font-size: 3dvh;
      text-align: end;
    }
  }

  .line {
    width: 5dvw;
    height: 1dvh;
    background-color: $main-color;
    margin-right: 2dvw;
  }
}

#about {
  margin-top: 8dvh;
  padding: 0 2dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    text-align: center;
    font-size: 5dvh;
    font-weight: 900;
    // margin-bottom: 8dvh;
  }

  .content {
    margin: 0 !important;
    position: relative;

    section {
      // padding: 0 !important;
      padding: 0 1rem !important;
      height: 100%;
    }

    .blob-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      #blob {
        max-width: 400px;
        height: 100%;
        aspect-ratio: 1 / 1;
        min-height: 30dvw;
        width: 100%;
        

        canvas {
          opacity: 1 !important;
          position: inherit;
        }
      }
    }
    .tech-icon {
      padding: 0 1rem;
      height: 10dvh;
      aspect-ratio: 1 / 1;
      i {
        font-size: 7vh;
      }
  
      &.test {
        background-color: red !important;
      }
      svg {
        color: $medium-light-color;

        &:hover {
          color: $main-color;
        }
      }
    }
    .about-text{
      margin-bottom: 4dvh;
      font-size: 2dvh;
      text-align: justify;
      color: $light-color
    }
  }

  .about-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >p{
      max-width: 950px;
    }
  }
  
  .icon-wrapper {
    display: flex;
    margin-bottom: 1dvh;
    overflow: hidden;
    padding: 0 !important;
    max-width: 90dvw;
    -webkit-mask: linear-gradient(90deg, transparent, white 25%, white 75%, transparent);
    mask: linear-gradient(90deg, transparent, white 25%, white 75%, transparent);
  }

  .icon-wrapper__inner {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    animation: scrollAnimation 60s linear infinite both;
  }
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  >.title {
    text-align: center;
    font-size: 5dvh;
    font-weight: 900;
    margin-top: 2rem;
  }

  #mosaic-grid {
    a {
      all: unset;
    }
  }

  .mosaic-img {
    height: 25dvh;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 0.4rem;
    cursor: pointer;
    display: flex;
    align-items: end;
    justify-content: end;
    transition: ease .2s;

    .title {
      text-decoration: none;
      text-align: end;
      background-color: rgba($dark-color, 0.7);
      backdrop-filter: blur(0.2rem);
      padding: 1rem;
      font-size: 2dvh !important;
    }

    &::after {
      z-index: -1;
      border-radius: 0.4rem;
      content: "";
      transition: ease .2s;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($medium-color, 0.3);
      backdrop-filter: blur(0.2rem);
    }

    * {
      z-index: 2;
    }

    &:hover {
      border: solid 3px $dark-color;

      &::after {
        opacity: .1;
      }

      .title {
        color: $main-color;
      }
    }

    &.big {
      height: 52dvh;
    }
  }

  #portfolio-menu {
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .nav-link {
      color: $medium-light-color;
      font-size: 2dvh;
    }

    .nav-link.active {
      color: $main-color;
    }
  }
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    text-align: center;
    font-size: 5dvh;
    font-weight: 900;
    margin-top: 2rem;
  }

  #dot-quad {
    min-height: 30vh;
    width: 100%;
    position: relative;

    canvas {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .contact-wrapper {
    min-height: 75vh;
    width: 100%;
    padding: 0;

    >div {
      margin: 0 2rem;
    }

    .col {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .contact-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        color: $light-color;
        font-size: 2.5vh;
      }
    }
  }

  form {
    width: 100%;

    .row {
      margin-bottom: 1rem;
    }

    input {
      height: 6dvh;
      font-size: 2vh;
    }

    textarea {
      height: 30dvh;
      font-size: 2vh;
    }

    input,
    textarea {
      background-color: $medium-color;
      border: none;
      color: $light-color;

      &::placeholder {
        color: $light-color;
        opacity: .4;
      }
    }

    #form-status {
      color: $main-color
    }

    #send {
      all: unset;
      background-color: $main-color;
      color: $light-color;
      font-weight: 500;
      font-size: 2vh;
      text-transform: uppercase;
      padding: 0.3rem;
      border-radius: .3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .btn-box {
        background-color: $background-color;
        padding: 0.3rem 0.5rem;
        border-radius: .4rem 0 0 .4rem;
      }

      i {
        margin: 0 0.4rem;
        font-size: 2.5dvh;
        text-shadow: 0 0 5px $dark-color
      }

      &:hover {
        background-color: $light-main-color;
      }
    }
  }
}

#topbar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: $dark-color !important;
  z-index: 2000;

  #topbar-logo {
    width: 3rem;

    svg {
      color: $main-color;
      transition: ease .2s;

      &:hover {
        color: $light-main-color;
      }
    }
  }
}

footer {
  height: $topbar-height;
  background-color: $dark-color;
  margin: 0 !important;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .footer-section {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    svg {
      height: 80%;
      color: $medium-color;
      transition: ease .2s;

      &:hover {
        color: $medium-light-color;
      }
    }

    i {
      font-size: 2vw;
      color: $medium-color;
      transition: ease .2s;
      margin-right: 0.5rem;

      &:hover {
        color: $medium-light-color;
      }
    }

    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li:not(:last-of-type) {
        margin-right: 1rem;
      }

      li {
        a {
          text-decoration: none;
          color: $medium-color;
          transition: ease .5s;

          &:hover {
            color: $light-color;
          }
        }
      }
    }
  }
}

.main-content {
  min-height: calc(100dvh - $topbar-height);
  height: auto;
  width: 100dvw;
  background-color: $background-color;
  position: relative;

  *:not(canvas) {
    z-index: 1;
  }

  canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0.2;
  }
}

.title {
  font-family: $title-font;
  color: $light-color;
}

@media screen and (orientation: portrait) {
  footer {
    .footer-section {

      svg {
        height: 80%;
      }

      i {
        font-size: 2vh;
      }

      ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li:not(:last-of-type) {
          margin-right: 1rem;
        }

        li {
          a {
            text-decoration: none;
            color: $medium-color;
            transition: ease .5s;

            &:hover {
              color: $light-color;
            }
          }
        }
      }
    }
    .footer-section:nth-child(2) {
      a {
        margin-right: 0rem;
        font-size: 2vw;
      }
    }
  
    #footer-menu {
      li {
        font-size: 0.6rem;
        margin-right: .2rem;
      }
    }
  }
  #quote {

    .line {
      width: 3dvh;
      height: 1dvw;
      background-color: $main-color;
      margin-right: 2dvw;
    }
  }
  #about {
    .about-wrapper{
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
    .blob-wrapper {
      width: 100%;

    }
    .title{
      margin-top: 2dvh;
      margin-bottom: 2dvh;
    }
    .icon-wrapper {
      width: 100%;
      max-width: 80dvw;
    }

    .content {
      section {
        padding-right: 2rem;
      }
    }
  }
  #portfolio {
    .mosaic-img {
      height: 20dvh;

      .title {
        padding: 1rem;
        font-size: 3dvh;
      }

      &::after {
        z-index: -1;
        border-radius: 0.4rem;
        content: "";
        transition: ease .2s;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($dark-color, 0.5);
        backdrop-filter: blur(0.2rem);
      }

      * {
        z-index: 2;
      }

      &:hover {
        border: solid 3px $dark-color;

        &::after {
          opacity: .1;
        }

        .title {
          color: $main-color;
        }
      }

      &.big {
        height: 50dvh;
      }
    }
  }
  #contact {
    padding: 0;

    form {
      margin-bottom: 2rem;

      input:first-of-type {
        margin-top: 1rem;
      }

      #send {
        font-size: 2vw;
      }
    }

    .contact-wrapper {
      .contact-col {
        p {
          max-width: 90dvw;
          font-size: 2vh;
        }

      }

      >div {
        margin: 0;

        >form {
          max-width: 80dvw;
        }
      }
    }
  }
  #menu {
    ul {
      .menu-Item {
        text-align: center !important;
      }
    }
  }

  #dot-quad{
    display: none;
  }
}