$text-font: 'Inter', sans-serif;
$title-font: 'Josefin Sans', sans-serif;


$dark-color: rgb(0,0,2);
$background-color: rgb(13,15,17);
$medium-color: rgb(35,41,46);
$medium-light-color: rgb(78,78,78);
$light-color: rgb(214,216,218);
$main-color: rgb(46,87,192);
$light-main-color: rgb(62,103,208);



$topbar-height: 100px;