:root{
	--regular-font: 'Poppins', sans-serif;
	--code-font: 'Coda', cursive;
	--white: #F6F6FB;
	--bg-color: #212436;
	--dark-bg-color: #181725;
  }
  
  *, input, button, a {
	text-decoration: none;
	border: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
  }
::-webkit-scrollbar-thumb {
	background-color: var(--white);
	border-radius: .5rem;
}
::-webkit-scrollbar-track {
	background-color: var(--dark-bg-color);
	border-radius: .5rem;
}
  
  
  body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: var(--regular-font);
  }

  code{
	font-family: var(--code-font);
  }