:root {

  --transparency: 0.6;
  --bg-dark: #252525;
  --bg-dark-transparent: rgba(37, 37, 37, var(--transparency));
  --bg-light: #323232;
  --bg-light-transparent: rgba(50, 50, 50, var(--transparency));
  --main-color: #006ACC;
  --main-color-light: #189DF8;
  --accent: #BEC0CD;
  --accent-light: #CCCCD6;
  --white: #BEC0CD;

  --toolbar-height: 76px;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--accent);
  background-color: var(--bg-dark);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  --font-family: 'Inter', sans-serif;
}
*, input, button{
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--accent);
  font-size: 1rem;
}
.glass-light{
  background-color: var(--bg-dark-transparent);
  backdrop-filter: blur(16px);
  transition: ease-in;
}
.glass-medium{
  background-color: var(--bg-dark-transparent);
  backdrop-filter: blur(32px);
  transition: ease-in;
}
.glass-strong{
  background-color: var(--bg-dark-transparent);
  backdrop-filter: blur(64px);
  transition: ease-in;
}
.shadow-light{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, var(--transparency));
}
.shadow-medium{
  box-shadow: 0px 0px 8px rgba(0, 0, 0, var(--transparency));
}
.shadow-strong{
  box-shadow: 0px 0px 16px rgba(0, 0, 0, var(--transparency));
}
.shadow-inset-light{
  box-shadow: inset 0px 0px 4px var(--bg-dark-transparent);
  /* backdrop-filter: blur(1px); */
  transition: ease-in;
}
.shadow-inset-medium{
  box-shadow: inset 0px 0px 8px var(--bg-dark-transparent);
  /* backdrop-filter: blur(4px); */
  transition: ease-in;
}
.shadow-inset-strong{
  box-shadow: inset 0px 0px 16px var(--bg-dark-transparent);
  /* backdrop-filter: blur(8px); */
  transition: ease-in;
}
.round{
  border-radius: 1rem !important;
}
.round-top{
  border-radius: 1rem 1rem 0 0;
}
.round-top-right{
  border-radius: 0 1rem 0 0;
}
.round-bottom{
  border-radius: 0 0 1rem 1rem;
}
.round-bottom-right{
  border-radius: 0 0 1rem 0;
}
.round-left{
  border-radius: 1rem 0 0 1rem;
}
.round-right{
  border-radius: 0 1rem 1rem 0;
}
::-webkit-scrollbar {
  width: .5rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-dark);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-light);
  filter: opacity(.5);
  border-radius: 1rem;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  filter: opacity(1);
}
@font-face {
  font-family: 'distant-galaxy';
  src: url('/distant-galaxy.ttf');
}

