:root {

  --transparency: 0.6;
  --bg-dark: #252525;
  --bg-dark-transparent: rgba(37, 37, 37, var(--transparency));
  --bg-light: #323232;
  --bg-light-transparent: rgba(50, 50, 50, var(--transparency));
  --main-color: #006ACC;
  --main-color-light: #189DF8;
  --accent: #BEC0CD;
  --accent-light: #CCCCD6;

  --toolbar-height: 76px;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--accent);
  background-color: var(--bg-dark);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: none;
  --font-family: 'Inter', sans-serif;
}

*, input, button{
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

.glass{
  background-color: var(--bg-dark-transparent);
  backdrop-filter: blur(16px);
  transition: ease-in;
}
.glass-dark{
  background-color: var(--bg-dark-transparent);
  backdrop-filter: blur(32px);
  transition: ease-in;
}
.glass-light{
  background-color: var(--bg-light-transparent);
  backdrop-filter: blur(32px);
  transition: ease-in;
}

.shadow{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, var(--transparency));
}
.shadow-inset{
  box-shadow: inset 0px 0px 4px var(--bg-dark-transparent);
  backdrop-filter: blur(16px);
  transition: ease-in;
}
.round{
  border-radius: 1rem !important;
}

.round-top{
  border-radius: 1rem 1rem 0 0;
}
.round-bottom{
  border-radius: 0 0 1rem 1rem;
}
.round-left{
  border-radius: 1rem 0 0 1rem;
}
.round-right{
  border-radius: 0 1rem 1rem 0;
}