@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-main: #1e40af;
  --color-accent: #e2e8f0;
  --color-bg: #030712;
}

/* WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--color-bg); /* Background of the track */
  border-radius: 8px; /* Round corners */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 8px; /* Round corners */
}

::-webkit-scrollbar-thumb:hover {
  /* background: #555; Color of the thumb on hover */
  opacity: .7;
}

/* Firefox */
html {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: var(--color-main) var(--color-bg); /* Thumb color and track color */
}

/* Apply consistent styles to all scrollable elements */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: var(--color-main) var(--color-bg);
}
.home-section{
  height: calc(100vh - 5rem);
}
body, html, #root{
  overflow-x: hidden;
  height: 100vh;
  background-color: var(--color-bg) !important;
}
.carousel-item {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.background-main{
  background-color: var(--color-main) !important;
}
.text-main{
  color: var(--color-main) !important;
}
.border-main{
  border-color: var(--color-main) !important;
}
.background-accent{
  background-color: var(--color-accent) !important;
}
.text-accent{
  color: var(--color-accent) !important;
}
.background-bg{
  background-color: var(--color-bg) !important;
}
.background-bg.blur{
  opacity: 0.3;
  backdrop-filter: blur(1rem);
}
.text-bg{
  color: var(--color-bg) !important;
}
.border-bg{
  border-color: var(--color-bg) !important;
}
.custom-btn{
  cursor: pointer;
  background-color: var(--color-main) !important;
  border: 1px solid var(--color-main) !important;
  color: var(--color-accent) !important;
  
  &:hover{
    background-color: transparent !important;
    border: 1px solid var(--color-main) !important;
    color: var(--color-main) !important;
  }
}
.carousel-item.active {
  opacity: 1;
}
.carousel-item-animated {
  opacity: 0; /* Initial state */
  animation: CarouselItem 0.3s forwards cubic-bezier(0.075, 0.82, 0.165, 1); /* Ensure it holds the final state */
}
.carousel-custom-item{
  background-color: var(--color-bg);
  opacity: 0.5;
}
@keyframes CarouselItem {
  0% {
    opacity: 0; /* Start as invisible */
    scale: 0;
    transform: translateX(4000px);
    visibility: hidden; /* Hidden initially */
  }
  50% {
    opacity: 1; /* Become visible */
    visibility: visible; /* Ensure it's visible */
  }
  100% {
    opacity: 1; /* Remain fully visible */
    scale: 1;
    transform: translateX(0);
    visibility: visible; /* Stay visible */
  }
}
.carouselStart{
  /* visibility: hidden; */
  cursor: pointer;
  /* opacity: 0; */
  /* transform-origin: bottom; */
  /* animation: bgAnimation 0.3s forwards ease; */

  &:hover{
    transform: scale(1.1);
  }
  &::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--color-bg);
    aspect-ratio: 1 / 1;
    /* border-radius: 50%; */
  }
  &.animateItem{
    &::after{
      border-radius: 0;
      animation: slide-up .3s cubic-bezier(0.3, 1.2, 0.3, 1) forwards;
    }
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.backdrop-blur-custom {
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  /* background-color: rgba(255, 255, 255, 0.7); Optional: Add a slight white background for the effect */
}
.aspect-custom{
  aspect-ratio: 3/1;
}
.aspect-thin{
  aspect-ratio: 1/6;
}
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

